{% extends "blog/base.html" %}
{% block content %}

    <!-- Page content -->


  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">



    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About HireBAC</h1><br>
      <h5 class="w3-center">Since 2021</h5>
      <p class="w3-large">HireBAC is an initiative that envisions to bring along people that can be mutually benefitted from each other. It is an online website where people can hire others to do a certain job or can even find work for themselves according to their skills.

</p>
      <p class="w3-large w3-text-grey w3-hide-medium"> This will also help people to reduce the efforts required in such things with much more variety of options to choose from.   </div>
  </div>

  <hr>

  <!-- objective Section -->
  <div class="w3-row w3-padding-64" id="about">



    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Our Objective</h1><br>

      <p class="w3-large">•	The chief objective of HireBAC is to provide jobs so that people can do something productive in their spare time.<br><br>
•	It focuses on providing work to those who do not posses much skills but still want to earn something.<br><br>
•	It also aims to help people who can’t afford expensive professionals to help them.<br><br>
•	This will also help people to reduce the efforts required in such things with much more variety of options to choose from.   </div>



      </div>

  <hr>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-64" id="contact">
    <h1>Contact</h1>
    <h5 class="w3-center">How can we help you?</h5>
    <p> Mail us at <b>hirebacc@gmail.com</b> </p>
    <p class="w3-text-blue-grey w3-large">Visit :<b> CS/IT block, AKGEC, Ghaziabad</b></p>
    <p>You can also contact us by phone <b> 00553123-2323</b></p>

  </div>

<!-- End page content -->
{% endblock content %}
